*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary-color:#FF5400;
    --secondary-color:#131318;
    --third-color: rgba(19, 19, 24, 0.7);

}
header , main{
    max-width: 1170px;
    margin: 0 auto;
  }
section{
    margin-top: 100px;
}
nav, .banner {
    margin-top: 50px;
}  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
nav ul{
    display: flex;
    text-decoration: none;
    
  }
nav ul li{
    list-style: none;
    margin-left: 44px;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
  }
nav span{
    color: var(--primary-color);
  }
.logo{
    display: flex;
    align-items: center;
  }
.logo-icon{
    margin-right: 17px;
  }

.toggle-menu{
    display: none;
    align-items: center;
}
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url("Images/Group 13 (1) (1).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 16px;
    text-align: center;
    align-items: center; 
}
.banner-content{
    padding-bottom: 106px;
}
.banner-title{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    word-wrap: break-word;
    padding-top: 106px;
}
.banner-description{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    padding: 24px 247px 48px 247px;
}
.banner-form{
    background-color: rgb(255,255,255,0.30);
    width: 70%;
    max-height: auto;
    padding: 16px;
    margin: 0 auto;
    border-radius: 8px;
    display: inline-flex;
    gap: 24px;
    justify-content: center;
}
.banner-form select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    box-shadow: none;
}

.primary-button{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--primary-color);
    /* max-width: 174px; */
    width: 100%;
    height: 52px;
    box-shadow: none;
    border-radius: 8px;
    padding: 16px 16px;
    border: none;
}

.popular-tour{
    display: flex;
    gap: 57px;
    height: auto;
    align-items: center;
}
.popular-tour-content{
    text-align: left;
    align-items: center;
}

.popular-tour-title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 800;
    word-wrap: break-word;
    margin-bottom: 24px;
}
.popular-tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-bottom: 16px;
}
#first-para{
    margin-bottom: 24px;
}
#third-para{
    margin-top: 24px;
    margin-bottom: 32px;
}
#button-fixed-width{
    width: 174px;
}
.popular-tour-image{
    align-items: right;
}
.popular-tour-video{
    border-radius: 16px;
    width: 1600px;
    height: 424px;
    overflow: hidden;
}
.popular-tour-video video{
    width: 100%; /* Make the video fill the container */
    height: 100%; /* Make the video fill the container */
    border-radius: 10px; /* Set the border radius for the video */
    object-fit: cover; /* Ensure the video covers the container */
    clip-path: inset(0 round 10px);
}



/* Responsive Design */
@media screen and (min-width: 992px) and (max-width: 1400px){
    header , main{
        max-width: 85%;
        margin: 0 auto;
    } 
    .popular-tour-image img{
        max-height: 400px;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.85;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.85;
    }
    .popular-tour-content{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    header , main{
        max-width: 85%;
        margin: 0 auto;
    } 
    section{
        margin-top: 24px;
    }
    nav ul{
        display: none;
    }
    nav{
        margin-top: 17px;
    }
    .toggle-menu{
        display: flex;
    }
    .banner-form{
        flex-direction: column;
        max-width: 255px;
        gap: 16px;
    }
    .banner-form select {
        width: 100%;
    }
    .primary-button{
        width: 100%;
    }
    .banner{
        margin-top: 17px;
    }
    .banner-content{
        padding-bottom: 32px;
    }
    .banner-title{
        padding-top: 32px;
        font-size: 1.375rem;
    }
    .banner-description{
        padding: 8px 15px 32px 15px;
        font-size: 0.8rem;
    }
    .popular-tour{
        flex-direction: column;
        gap: 24px;
    }
    .popular-tour img{
        width: 100%;
    }
    .popular-tour-video{
        width: 100%;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.85;
    }
}