*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary-color:#FF5400;
    --secondary-color:#131318;
    --third-color: rgba(19, 19, 24, 0.7);

}
header , main{
    max-width: 1170px;
    margin: 0 auto;
  }
section, footer{
    margin-top: 100px;
}
nav, .banner {
    margin-top: 50px;
}  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
nav ul{
    display: flex;
    text-decoration: none;
    
  }
nav ul li{
    list-style: none;
    margin-left: 44px;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
  }
span{
    color: var(--primary-color);
  }
.logo{
    display: flex;
    align-items: center;
  }
.logo-icon{
    margin-right: 17px;
  }

.toggle-menu{
    display: none;
    align-items: center;
}
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url("Images/Group 13 (1) (1).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 16px;
    text-align: center;
    align-items: center; 
}
.banner-content{
    padding-bottom: 106px;
}
.banner-title{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    word-wrap: break-word;
    padding-top: 106px;
}
.banner-description{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    padding: 24px 247px 48px 247px;
}
.banner-form{
    background-color: rgb(255,255,255,0.30);
    width: 70%;
    max-height: auto;
    padding: 16px;
    margin: 0 auto;
    border-radius: 8px;
    display: inline-flex;
    gap: 24px;
    justify-content: center;
}
.banner-form select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    box-shadow: none;
}

.primary-button{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--primary-color);
    /* max-width: 174px; */
    width: 100%;
    height: 52px;
    box-shadow: none;
    border-radius: 8px;
    padding: 16px 16px;
    border: none;
}

.popular-tour{
    display: flex;
    gap: 57px;
    height: auto;
    align-items: center;
}
.popular-tour-content{
    text-align: left;
    align-items: center;
}

.popular-tour-title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 800;
    word-wrap: break-word;
    margin-bottom: 24px;
}
.popular-tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-bottom: 16px;
}
#first-para{
    margin-bottom: 24px;
}
#third-para{
    margin-top: 24px;
    margin-bottom: 32px;
}
#button-fixed-width{
    width: 174px;
}
.popular-tour-image{
    align-items: right;
}
.popular-tour-video{
    border-radius: 16px;
    width: 1600px;
    height: 424px;
    overflow: hidden;
}
.popular-tour-video video{
    width: 100%; 
    height: 100%; 
    border-radius: 10px;
    object-fit: cover;
    clip-path: inset(0 round 10px);
}
.newsletter{
    display: flex;
    gap: 50px;
}
.newsletter-content{
    border: 1px #FF5400 solid;
    border-radius: 16px;
    padding: 40px;
    
}
#newsletter-title{
    margin: 0px;
    font-size: 1.5rem;
}
.newsletter-subtitle{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    padding-top: 16px;
    padding-bottom: 24px;
}
.newsletter-hr{
    margin-bottom: 24px;
}
.newsletter input{
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    border-radius: 8px;
    width: 100%;
    padding: 16px 0;
    padding-left: 16px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.newsletter-image{
    text-align: right;
    position: relative;
}
#newsletter-button{
    margin-top: 8px;
}
.save-up{
    background-color: var(--primary-color);
    width: 324px;
    height: 120px;
    border-radius: 16px;
    text-align: center;
    color: white;
    /* padding: 10px 0px 10px 0px; */
    position: absolute;
    transform: rotate(-25deg);
    right: 15px;
    bottom: 65px;
    z-index: 1;
}
.save-up h5,
.save-up h2 {
    margin: 0; 
}

.save-up h5 {
    margin-top: 30px;
    font-size: 1rem; 
}

.save-up h2 {
    margin-top: 10px; 
    font-size: 1.8rem;
}

.destination-content{
    text-align: center;
    padding: 0px 240px 50px 240px;
}
.container{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, 300px);
    background-color: #fff;
    color: #444;
    border-radius: 16px;
    justify-content: center;
}
.box{
    background-color: #FF5400;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    align-items: center;
    
}
.box h5{
    align-items: center;
    padding: 126px 0px;
}
#box1{
    grid-column: span 2;
    background-image: url("Images/Rectangle 5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#box2{
    grid-column: span 2;
    background-image: url("Images/Rectangle 8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#box3{
    background-image: url("Images/Rectangle 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
}
#box4{
    grid-column: span 2;
    background-image: url("Images/Rectangle 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#box5{
    background-image: url("Images/Rectangle 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#box6{
    background-image: url("Images/Rectangle 11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#box7{
    grid-column: span 3;
    background-image: url("Images/Rectangle 10.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card1,
.card2 {
    padding: 32px;
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    border: 1px rgba(251, 181, 99, 0.20) solid;
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    border-radius: 16px;
    border: 1px rgba(251, 181, 99, 0.20) solid;
    margin: 24px 280px;
}
#card2{
    background-color: rgba(41, 206, 246, 0.05);
}
#card3{
    background-color: rgba(233, 68, 68, 0.05);;
    justify-self: center;
    justify-content: center;
}
.card-body h2{
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 1.5rem;
}
.card-body p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}
footer{
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: auto;
}
.footer-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 110px 0;
}
#bottom-logo{
    justify-content: center;
    padding-bottom: 15px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap:33px;
    color: var(--secondary-color);
    padding: 32px 0px 50px 0px;
}
footer hr{
    opacity: 50%;
}
.footer-content h6{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    padding-top: 50px;
}



/* Responsive Design */
@media screen and (min-width: 992px) and (max-width: 1400px){
    header , main{
        max-width: 85%;
        margin: 0 auto;
    } 
    .popular-tour-image img{
        max-height: 400px;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.85;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.85;
    }
    .popular-tour-content{
        width: 100%;
    }
    .newsletter-image img{
        width: 100%;
        height: 420px
    }
    .card3{
        margin: 24px 200px;
    }
}
@media screen and (max-width: 602px) {
    header , main{
        max-width: 85%;
        margin: 0 auto;
    } 
    section{
        margin-top: 24px;
    }
    nav ul{
        display: none;
    }
    nav{
        margin-top: 17px;
    }
    .toggle-menu{
        display: flex;
    }
    .banner-form{
        flex-direction: column;
        max-width: 255px;
        gap: 16px;
    }
    .banner-form select {
        width: 100%;
    }
    .primary-button{
        width: 100%;
    }
    .banner{
        margin-top: 17px;
    }
    .banner-content{
        padding-bottom: 32px;
    }
    .banner-title{
        padding-top: 32px;
        font-size: 1.375rem;
    }
    .banner-description{
        padding: 8px 15px 32px 15px;
        font-size: 0.8rem;
    }
    .popular-tour{
        flex-direction: column;
        gap: 24px;
    }
    .popular-tour img{
        width: 100%;
    }
    .popular-tour-video{
        width: 100%;
    }
    .popular-tour-title{
        font-size: 1.25rem;
    }
    .popular-tour-description{
        font-size: 0.8rem;
    }
    .footer-content{
        width: 85%;
        padding: 57px 0px 31px 0px;
    }
    #bottom-logo{
        font-size: 0.8rem;
    }
    #bottom-logo img{
        width: 32px;
        height: 32px;
    }
    .newsletter{
        flex-direction: column;
    }
    .newsletter-image img{
        width: 100%;
    }
    .newsletter-content{
        padding: 24px;
    }
    #newsletter-title{
        font-size: 1.25rem;
    }
    .newsletter-subtitle{
        font-size: 0.8rem;
    }
    .save-up{
        width: 214px;
        height: 79px;
        border-radius: 8px;
        bottom: 45px;
    }
    .save-up h5 {
        margin-top: 14px;
        font-size: 0.8rem; 
    }
    
    .save-up h2 {
        margin-top: 2px; 
        font-size: 1.2rem;
    }
    .destination-content{
        text-align: center;
        padding: 0px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 176px);
    }
    .box h5{
        align-items: center;
        padding: 75px 0px;
    }
    #box1 {
        grid-column: span 1;
    }
    #box2 {
        grid-column: span 1;
    }
    #box3 {
        grid-column: span 1;
    }
    #box4 {
        grid-column: span 1;
    }
    #box5 {
        grid-column: span 1;
    }
    #box6 {
        grid-column: span 1;
    }
    #box7 {
        grid-column: span 1;
    }
    .card-container {
        flex-direction: column;
    }
    .card3{
        margin: 24px 0px;
    }
    .card1,
    .card2 {
    max-width: 445px;
    max-height: 100%;
    padding: 32px;
    }
}